[package]
name = "simple-threshold"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]
doctest = false

[dependencies]
soroban-sdk = { workspace = true }
stellar-accounts.workspace = true



[dev-dependencies]
soroban-sdk = { workspace = true, features = ["testutils"] }
